---
import PageSite from "@layouts/PageSite.astro";
import ImageContainer from "@components/ImageContainer.astro";
---

<style>
  .inline-icon {
    height: 1em;
    transform: translateY(-0.1em);
    padding-right: 0.25rem;
  }
  .offset::before {
    display: block;
    content: " ";
    margin-top: -62px;
    height: 62px;
    visibility: hidden;
    pointer-events: none;
  }
  .imgcontainer {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  }
</style>

<PageSite title="Community" description={"Descriptions of how our team helps out our community and school, as well as links to some of our resources."}>
  <h1 class="mb-4">Community and Outreach</h1>

  <h2 class="mb-0 text-center" style="color: #EE0000;">Team Mission </h2>
  <p class="text-center" style="color: #EE0000;">"To help students find their 
    pulse for life-long learning through a team culture that shares knowledge 
    and gives back to the community"</p>

<div class="row">
    <h2 >Team 694 Within the School</h2>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-7 col-xxl-8">
      <p>
        Following our successful rookie year, Stuyvesant High School was inspired 
        to start an “Intro to Robotics” class, taught by our very own head coach 
        and mentor, Joseph Blay. Today, this course is still available to Juniors 
        and Seniors, a perfect catalyst for spreading the message of FIRST and 
        generating interest in the Robotics Team. The class was such a success that 
        several schools considered the possibility of adding a similar course to their curriculums.
      </p>
      <p>
        We often host robot demonstrations at alumni reunions at our school. 
        This year, our team members gave our alumni tours of our robotics lab 
        while updating them on what has been happening within our team. We 
        were also able to demo our robot, Aunt Mary, allowing the alumni 
        to see what we have been working on in the past year. We are glad 
        that our alumni enjoyed our presentations and being back at the school.
      </p>
      <p>
        Yet, 694 does not limit its demonstrations to just alumni to emphasize 
        the importance of the robotics program. For 2025's Open House session, 
        we showcased our 2025 robot, Aunt Mary, in front of hundreds of incoming 
        freshmen and their parents. Through this, we hope that Robotics will become 
        one of their reasons for choosing Stuyvesant, and that no matter where they 
        go, they will spread the message of FIRST robotics. 
      </p>
    </div>
    <div
      class="col-12 col-sm-12 col-lg-6 col-xl-5 col-xxl-4 mb-3 clearfix justify-content-center align-middle"
    >
      <div class="p-0 float-end align-middle imgcontainer">
        <ImageContainer
          img="/community/Open_House.jpg"
          alt="New students and parents at Stuyvesant's Open House session, looking at our robot, Aunt Mary"
          height={"auto"}
          width={"auto"}
          tSize={"40px"}
        />
      </div>
    </div>
  </div>
<div class="row">
    <h2 class="mb-3">Public Demonstrations</h2>
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 col-xxl-4 clearfix justify-content-center align-middle"
    >
      <div class="p-0 align-middle imgcontainer">
        <ImageContainer
          img="/community/BPC_Demo.jpg"
          alt="Demonstration at Battery Park for Steam Day"
          height={"auto"}
          width={"auto"}
          tSize={"40px"}
        />
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7 col-xxl-8">
      <p>
        Over the years, Team 694 has been featured in numerous demonstrations and present through social media. 
        In February of 2025, we were featured on the FRC Open Alliance show and filmed a video explaining our 
        robot’s mechanisms and functions. FUN Robotics referred to us as an “FRC Team of the Week,” 
        for our contributions towards Open Alliance. We participated in the alpha testing of SystemCore, 
        in the summer of 2025, and presented our SystemCore discoveries at NYC Robo Replay, 
        an offseason event, Stuysplash, and at NYC FIRST Kickoff. 
        Our team has also done robot demos at the local senior center, 
        which our members volunteer to help older adults with tech support. At NYC FIRST STEM Center, 
        we displayed our 2024 offseason robot to students visiting from Japan as well as demoing smaller 
        robots for Pre-K to 5 students. Our demos have impacted many students and piqued the interest of many to 
        contribute in the different fields of robotics.
        schools.
      </p>
    </div>
  </div>
<div class="row mt-3">
    <h2>FLL</h2>
      <p>
        For over two decades, StuyPulse has been committed to helping the next 
        generation of students enter the world of robotics through FLL. Since 
        the spring of 2001, we have inspired several schools to enter this program, 
        and have educated kids in a variety of programs across and even outside of 
        New York City, helping them take their first steps into thinking like an 
        engineer. FLL remains one of the core ways that we spread STEM to young leaders.
      </p>
      <p>
        In Brooklyn, we have hosted an FLL Challenge based program in Williamsburg 
        for the past three years. In Bensonhurst, we hosted SPIKE Prime Based Summer 
        Camps for the past 2 years, and mentored 4 total teams at Bensonhurst for the 
        past two years. 
      </p>
      <p>
        In Manhattan, we have mentored an FLL Explore team in Battery Park City for 
        three years.In Chinatown, we have hosted SPIKE Prime Based Summer Camps for 
        the past two years. Additionally, we have hosted a summer program at MoMath in 2024.
      </p>
      <p>
        Recently, we also briefly mentored Queens-based Team 4017, the RoboPandas, 
        in preparation for their competition.
      </p>
      <p>
        Our involvement in FLL extends overseas as we have mentored teams 
        based in Puerto Rico since 2018. 
      </p>
      <p>
        Our FLL mentoring curriculums and program outlines are available in our
        <a href="/resources/tutorials" target="_blank"
          >Tutorials Tab</a>
          .
      </p> 
    </div>
  <div class="row mt-3">
    <h2 class="mb-2">Helping Out Other Teams</h2>
    <div class="ccol-12 col-sm-12 col-lg-6 col-xl-7 col-xxl-8">
      <p>
        Team 694 is always ready to help out teams, whether it is during the 
        hectic build season or at the competitions themselves. Throughout the 
        years, we have visited other teams and invited them to our lab to share 
        knowledge and experiences about safety, organization, fundraising, 
        engineering and software engineering. Even during competitions, our team 
        is ready to send members to help other teams with their robots, and cheer 
        with them as they win awards or advance to the finals.
      </p>
      <p>
        Bonding with members of other teams is welcoming others into our community 
        and forming long-lasting friendships.
      </p>

    <h5 class="">Resources</h5>
      <p>Check out our <a href="/resources">resources</a> for other teams.</p>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-5 col-xxl-4 mb-3 clearfix justify-content-center align-middle">
      <div class="p-0 align-middle imgcontainer">
        <ImageContainer
          img="/community/Stuy_Balta.jpg"
          alt="BALTA at Stuyvesant Robotics Lab"
          height={"auto"}
          width={"auto"}
          tSize={"40px"}
        />
      </div>
    </div>
  </div>
</PageSite>
